In [2]:
# Step 1: Create a DataFrame from the list of dictionaries

import pandas as pd

# List of dictionaries
data = [{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100},
        {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
        {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
        {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
        {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]

#  Convert list of dictionaries to DataFrame
df = pd.DataFrame(data)

df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [4]:
# Step 2: Calculate the Total Profit for each product
df['net_revenue_per_product'] = (df['retail_price'] - df['wholesale_price']) * df['sales']

# Create a new column showing the name of the product and its corresponding revenue

# Print the DataFrame with the new column
print(df[['name','net_revenue_per_product']])

             name  net_revenue_per_product
0        computer                  50000.0
1  Python Workout                  40000.0
2  Pandas Workout                  20000.0
3          banana                    100.0
4        sandwich                    600.0

In [8]:
# How much total net revenue you received from all of these sales?
total_net_revenue = df['net_revenue_per_product'].sum()
total_net_revenue

110700.0

In [9]:
# What product is product retail price more than twice the wholesale price?
product_more_than_twice = df[df['retail_price'] > 2 * df['wholesale_price']]['name']
product_more_than_twice

1    Python Workout
2    Pandas Workout
Name: name, dtype: object

In [26]:
# How much did the store make from food vs. computers vs. others?

food_profit = df[df['name'].isin(['banana', 'sandwich'])]['net_revenue_per_product'].sum()
computer_profit = df[df['name'] == 'computer']['net_revenue_per_product'].sum()
others_profit = total_net_revenue - (food_profit + computer_profit)

print("Profit from food products:", food_profit)

print("Profit from computers:", computer_profit)

print("Profit from other products:", others_profit)

Profit from food products: 700.0
Profit from computers: 50000.0
Profit from other products: 60000.0

In [9]:
# Apply a 30% discount on the wholesale price
discount = 0.30
df['discounted_wholesale_price'] = df['wholesale_price'] * (1 - discount)
# We calculate the new net revenue using the discounted wholesale price
df['new_net_revenue'] = (df['retail_price'] - df['discounted_wholesale_price']) * df['sales']

# Print the DataFrame with the new net revenue column
print(df[['name', 'new_net_revenue']])

             name  new_net_revenue
0        computer          65000.0
1  Python Workout          50500.0
2  Pandas Workout          25250.0
3          banana            130.0
4        sandwich            870.0

In [5]:
# Define sales tax rates
sales_tax_rates = [0.15, 0.20, 0.25]

# Calculate net revenue with different sales tax rates
for tax_rate in sales_tax_rates:
    tax_label = f"Net Revenue (Tax {int(tax_rate * 100)}%)"
    df[tax_label] = df['net_revenue_per_product'] - (df['net_revenue_per_product'] * tax_rate)

# Display the updated DataFrame
print(df)

   product_id            name  wholesale_price  retail_price  sales  \
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

   net_revenue_per_product  Net Revenue (Tax 15%)  Net Revenue (Tax 20%)  \
0                  50000.0                42500.0                40000.0
1                  40000.0                34000.0                32000.0
2                  20000.0                17000.0                16000.0
3                    100.0                   85.0                   80.0
4                    600.0                  510.0                  480.0

   Net Revenue (Tax 25%)
0                37500.0
1                30000.0
2                15000.0
3                   75.0
4                  450.0